body {
    font-family: Arial;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Box */
.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #4facfe;
    color: white;
    border: none;
    cursor: pointer;
}

/* Dashboard */
.dashboard {
    text-align: center;
    color: white;
}